.container {
  max-width: 1170px;
  margin: 0 auto;
}

.botao {
  display: inline-block;
  font: 500 0.875rem/1.25 var(--font-2);
  letter-spacing: 1.25px;
  text-transform: uppercase;
  padding: 15px 30px;
  margin-top: 30px;
  background: linear-gradient(to bottom, #002071, #0532a4);
  border-radius: 4px;
  color: var(--cor-c1);
  cursor: pointer;
}

.botao:hover {
  background: linear-gradient(to bottom, #002071, #1a49c1);
}

.shadow {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.seta {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--cor-c10);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: 0.1s;
  z-index: 999;
}

.seta:hover {
  background: var(--cor-c9);
}

.span-2 {
  grid-column: span 2;
}